.myH2{
background-color: aquamarine;
text-align: center;
}

li{
    transition: background-color 0.2s ease;
}

li:hover{
    background-color: rgb(214, 213, 213);
    font-weight: bold;
    cursor: pointer;
}