#root,body{
    box-sizing: border-box;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root{
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 20px 20px 0 0;
    max-width: 1000px;
}

header{
    border-radius: 20px 20px 0 0;
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > img{
    height: 24px;
    margin-right: 7px;
}

header > h2{
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
}

main > div{
    display: flex;
}

.image-container{
    max-height: 350px;
    max-width: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin: 40px 20px 40px 40px;
}

.image-container > img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    object-position: center;
}

.dataContainer{
    margin-top: 45px;
}

.countryData{
    display: flex;
    align-items: center;
    position: relative;
}

.countryData > img{
    position: absolute;
    height: 20px;
    bottom: 3px;
}

.countryData > span{
    font-size: 1.2rem;
    margin-right: 20px;
    margin-left: 20px;
}

.countryData > a{
    color: rgb(136, 136, 185);
    font-size: 1.1rem;
}

.dataContainer > h1{
    margin: 15px 0 30px 0; 
}

.dataContainer > span{
    font-weight: bold;
}

.dataContainer > p{
    max-width: 600px;
    margin-right: 5px;
}



@media (max-width:400px) {
    .dataContainer{
    margin-top: 22px;
    }
    .image-container{
        max-width: 170px;
        height: 260px;
        margin: 20px 10px 20px 20px;
    }
    .countryData > img{
    position: absolute;
    height: 15px;
    bottom: 3px;
    }
    .countryData > span{
    font-size: 0.9rem;
    margin-right: 15px;
    margin-left: 15px;
    }

    .countryData > a{
        color: rgb(136, 136, 185);
        font-size: 0.6rem;
        text-align: center;
        width: 70px;
    }

    .dataContainer > h1{
        margin: 15px 0 30px 0; 
        font-size: 23px;
    }

    .dataContainer > span{
        font-weight: bold;
        font-size: 70%;
    }

    .dataContainer > p{
        max-width: 350px;
        font-size: 70%;
        margin-right: 2px;
    }

    
}